# test schemas and models
schemas_test/
schemas/
models/

# test file for testing queries
test/

# ignore vim swap files
*.swp

# ignore silver searcher ignore !! ag
.agignore

# dice configuration file
dice.yaml
